div{
background-image: url('../../../assets/images/cinema-realistic-poster-with-illuminated-bucket-popcorn-drink-3d-glasses-reel-tickets-blue-background-with-tapes-vector-illustration_1284-77070.jpg');
background-size: cover;
width: 100%;
height: 100vh;
}
