<header>
    <div class="navBar">
        <div class="navLinks">
            <div class="logo">
                <span>Cin</span><span>ema</span>
            </div>
            <div class="links">
                <ul>
                    <!-- <li><a [routerLink]="'/accueil'">Accueil</a></li>
                    <li><a [routerLink]="'/cinema'">Cinema</a></li>
                    <li><a [routerLink]="'/about'">A propos</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>
