<section class="about" id="about">
    <h1>
        <span>CIN</span><span class="ex">EMA</span>
    </h1>
    <div class="about-container">
        <div class="textes">
            <p>
                Ce travail pratique N°1 a pour but d’évaluer les notions acquises par l’étudiant sur les chap 1 et chap 2 : la
                définition d’un projet Angular, l’architecture d’une application web sur la base des composants
            </p>
            <p>
              Nous étudiants en 4ème année ingénieur en Informatique et Systèmes d'informations sommes dans l'obligation de faire ce travail car il est déterminant pour notre avenir.
            </p>
            <p>
               <b>Numero de version</b> : version 1.0.0
            </p>
            <button>Lire Plus</button>
        </div>
        <div class="image">
            <img src="../../../assets/ironman.jpg" alt="">
        </div>
    </div>
  </section>
  